<button id = "info-button" type = "button"> Info </button>

<div id = "info-box" style = "display: none;">
    <h1>Questions</h1>
    <ol>
        <li>What inspired your idea/project?</li>
        <li>How did you decide on your approach?</li>
        <li>How did you make sure your solution is usable for the target audience?</li>
        <li>What did you learn during your project (technical/nontechnical)</li>
        <li>What was a challenge you faced working on this project?</li>
        <li>How did your team handle areas where no one had prior experience?</li>
        <li>How did you divide the work among your team?</li>
        <li>What makes your project different from competitors or other existing solutions?</li>
        <li>If you had more time, what features would you add/improve?</li>
    </ol>
    <h2>Metrics</h2>
    <ol>
        <li>Creativty and Originality: How original and innovative is the project?</li>
        <li>Impact: What impact does this project have?</li>
        <li>Implementation: How well is the project executed?</li>
        <li>Clarity: How clear is the presentation and documentation?</li>
        <li>Knowledge and Growth: How much learning and growth is demonstrated?</li>
    </ol>
</div>